<div class="mer_footer">
    <div class="footer_content">
        <span class="beian">浙公网安备 33010902000463号</span>                
        <span>© 微医集团</span>                 
    </div>
</div>

<!-- CNZZ站长统计 -->
<script type="text/javascript">
    (function(){
        var CNZZID = '1262355268';
        var cnzz = document.createElement("script");
	    cnzz.src = "https://s19.cnzz.com/z_stat.php?id="+ CNZZID +"&web_id=" + CNZZID;
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(cnzz, s);
    })()
</script>