<!-- 下载缓存区 -->
<div class="download_buffer">
    <div class="buffer">
        <span class="buffer_icon"></span>
        <span class="buffer_text">下载缓冲区</span>
    </div>
</div>

<!-- 公共头部 -->
<div class="mer_header">
    <div class="mer_header_top">
        <div class="header_top_box clearfix">
            <div class="f-l fl">
                <span class="l_welcome">您好，<em>王小二</em></span>
                <a href="javascript:;" class="logout">退出登录</a>
            </div>
            <div class="f-r fr">
                <ul>
                    <li><i class="icon icon_todo"></i>待办事项</li>
                    <li><i class="icon icon_msg"></i>消息</li>
                    <li class="last"><i class="icon icon_help"></i>帮助中心</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mer_header_bottom">
        <div class="header_bottom_box clearfix">
            <div class="f-l fl">
                <a href="javascript:;">
                    <img src="../../../images/weyi_logo.png" class="l_logo"/>
                </a>
            </div>
            <div class="f-r fr tool_menu clearfix" id="toolMenu">
                <ul>
                    <li class="current">首页</li>
                    <li>交易中心</li>
                    <li>账户中心</li>
                    <li>营销管理</li>
                    <li>产品中心</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>

